RewriteEngine On

# Strip www from all requests
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule .* https://ineedtobuy.xyz%{REQUEST_URI} [L,R=301]

# Rewrite to HTTPS
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Allow access to files on the file system
RewriteCond %{REQUEST_FILENAME} !-f

# Route everything else through index.php
RewriteRule ^ index.php [QSA,L]
