.add-thing {
    .card {
        img {
            margin: 1rem auto;
            max-height: 33vh;
            max-width: 100%;
        }

        label {
            display: block;
            margin: 1rem 0;
        }

        .button {
            background: #eeaf4b;
            display: inline-block;

            [name="intb-scan"] {
                display: none;
            }
        }

        #output {
            margin: 1rem 0;
        }
    }
}
