@import './Variables.scss';

.card {
    align-items: center;
    background: white;
    margin: 0;
    padding: 1rem;
    box-shadow: $drop-shadow;
    text-align: center;
}

form {
    // blunt selecter here, which we can get away with because we're only
    // using text-like inputs for now, will need to change this if we ever
    // want to use checkboxes or radio buttons
    input {
        border: none;
        border-bottom: solid 2px #999;
        border-radius: 0;
        font: 24px/2 Helvetica;
        margin: 1rem 0;
        padding: 0;
        transition: border $transition-duration;
        -webkit-appearance: none;
    }

    input:focus {
        border-bottom-color: black;
        outline: none;
    }

    input::-webkit-input-placeholder {
        color: #999;
        font: 24px/2 Helvetica;
        transition: font-size $transition-duration, transform $transition-duration;
    }

    input:focus::-webkit-input-placeholder,
    input:valid::-webkit-input-placeholder {
        font-size: 16px;
        transform: translate3d(0, -2rem, 0);
        visibility: visible !important;
    }

    button,
    .button {
        display: inline-block;
        border: none;
        background: $button-primary;
        color: white;
        font-weight: bold;
        font-size: 18px;
        outline: none;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: transform $transition-duration;
        box-shadow: $drop-shadow-button;
    }

    button:active,
    .button:active {
        outline: none;
        transform: $button-scale;
    }
}