@import './Variables.scss';

a, a:hover, a:active, a:visited {
    color: blue;
    text-decoration: none;
}

.card {
    align-items: center;
    background: white;
    margin: 0;
    padding: 1rem;
    box-shadow: $drop-shadow;
    text-align: center;
}

.secondary-text {
    color: #999;
    font-size: small;
    margin-top: 1.5rem;

    a, a:hover, a:active, a:visited {
        color: #333;
    }
}

form {
    input[type="text"] {
        border: none;
        border-bottom: solid 2px #999;
        border-radius: 0;
        font: 24px/2 $font-family;
        margin: 1rem 0;
        padding: 0;
        text-align: center;
        transition: border $transition-duration;
        -webkit-appearance: none;
    }

    input:focus {
        border-bottom-color: black;
        outline: none;
    }

    input::-webkit-input-placeholder {
        color: #999;
        font: 24px/2 Helvetica;
        transition: font-size $transition-duration, transform $transition-duration;
    }

    input:focus::-webkit-input-placeholder,
    input:valid::-webkit-input-placeholder {
        font-size: 16px;
        transform: translate3d(0, -2rem, 0);
        visibility: visible !important;
    }

    button,
    .button {
        display: inline-block;
        border: none;
        background: $button-primary;
        color: white;
        font-weight: bold;
        font-size: 18px;
        outline: none;
        padding: 0.75rem 1rem;
        text-decoration: none;
        transition: transform $transition-duration;
        box-shadow: $drop-shadow-button;
    }

    button:active,
    .button:active {
        outline: none;
        transform: $button-scale;
    }

    .radioGroup {
        display: grid;
        grid-gap: 8px;
        margin: -1rem 0 2rem 0;

        p {
            grid-area: caption;
        }

        .radio {
            align-items: center;
            border: solid 2px transparent;
            box-shadow: $drop-shadow;
            display: flex;
            font-weight: bold;
            justify-content: center;
            margin: 0;
            padding: 1rem;

            input[type="radio"] {
                display: none;
            }
        }

        .radio.selected {
            border: solid 2px rgba(0,0,0,0.33);
        }

        .radio:nth-of-type(1) {
            grid-area: choice-1;
        }

        .radio:nth-of-type(2) {
            grid-area: choice-2;
        }

        .radio:nth-of-type(3) {
            grid-area: choice-3;
        }

        .soon {
            background: $buy-it-soon;
        }

        .pretty-soon {
            background: $buy-it-pretty-soon;
        }

        .not-soon {
            background: $buy-it-not-soon;
        }

        .soon.selected {
            background: $buy-it-soon-opaque;
        }

        .pretty-soon.selected {
            background: $buy-it-pretty-soon-opaque;
        }

        .not-soon.selected {
            background: $buy-it-not-soon-opaque;
        }
    }

    .radioGroup.oneByThree {
        grid-template-areas:
            "caption caption caption"
            "choice-1 choice-2 choice-3";
        grid-template-columns: 1fr 1fr 1fr;
    }
}