footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1px;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                background: #fbd490;
                display: block;
                padding: 10px;
                text-align: center;

                img {
                    max-height: 20px;
                    width: auto;
                }
            }
        }

        li.selected {
            a {
                background: #e0b877;
            }
        }
    }
}