header {
    border-bottom: solid 1px #ccc;
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    right: 0;

    a {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 50px;
        bottom: 0;
        display: block;
        padding: 5px 0;
        position: absolute;
        top: 0;
    }

    .header-link {
        background-image: url(/img/header.png);
        left: 50px;
        right: 50px;
    }

    .share-link {
        background-image: url(/img/share.png);
        background-size: auto 30px;
        bottom: 10px;
        display: none;
        right: 0;
        width: 50px;
    }

    .show {
        display: block;
    }
}
