@import './Variables.scss';

header {
    background: white;
    box-shadow: $drop-shadow;
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1; // pull header above card to show box-shadow

    a {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 50px;
        bottom: 0;
        display: block;
        padding: 5px 0;
        position: absolute;
        top: 0;
    }

    .header-link {
        background-image: url(/img/header.png);
        left: 45px;
        right: 45px;
    }

    .back-link {
        background: url(/img/right-bracket.svg) 10px no-repeat;
        background-size: auto 24px;
        display: none;
        left: 0;
        top: -6px;
        transform: scaleX(-1); // flip horizontal
    }

    .help-link {
        background-image: url(/img/help.png);
        background-size: auto 30px;
        bottom: 6px;
        left: 2px;
        width: 50px;
    }

    .share-link {
        background-image: url(/img/share.png);
        background-size: auto 30px;
        bottom: 10px;
        display: none;
        right: 0;
        width: 50px;
    }

    .show {
        display: block;
    }
}

.thing header .back-link {
    display: block;
}
