@import './Variables.scss';

.purchases {
    form {
        margin: 1rem 0;
    }

    .purchases-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            background: white;
            box-shadow: $drop-shadow;
            height: 40px;
            margin-bottom: 5px;
            overflow: hidden;
            position: relative;
            transition: opacity $transition-duration;

            .delete-link {
                background: red url(/img/x.png) center center no-repeat;
                background-size: 20px 20px;
                bottom: 0;
                right: 0;
                position: absolute;
                top: 0;
                width: 40px;
            }

            .detail-link {
                background: white url(/img/right-bracket.svg) right 6px center no-repeat;
                background-size: 20px 20px;
                color: black;
                display: block;
                line-height: 40px;
                overflow: hidden;
                padding-right: 2rem;
                position: relative;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: pre;
                z-index: 1;
            }

            .thumbnail {
                display: block;
                float: left;
                height: 30px;
                margin: 0;
                padding: 5px;
                text-align: center;
                width: 30px;

                img {
                    height: 30px;
                }
            }

            button {
                color: white;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                display: block;
                float: left;
                font-family: sans-serif;
                font-size: 1rem;
                height: 30px;
                margin: 5px;
                padding: 0;
                text-align: center;
                text-decoration: none;
                transition: transform $transition-duration;
                width: 30px;
                -webkit-appearance: none;
                   -moz-appearance: none;

                .bought-it {
                    height: 30px;
                    width: 30px;
                }
            }

            button:focus {
                outline: none;
            }

            button:active {
                transform: $button-scale;
            }
        }

        li {
            .detail-link, .thumbnail, button {
                transition: transform $transition-duration;
            }
        }

        li.swiped {
            .detail-link, .thumbnail, button {
                transform: translate3d(-40px, 0, 0);
            }
        }

        li.fade {
            opacity: 0;
        }

        li.hide {
            display: none;
        }

        li:active {
            transform: $button-scale;
        }
    }

    /* 0 - 3 days */
    .soon {
        background: $buy-it-soon;
    }

    /* 4 - 10 days */
    .pretty-soon {
        background: $buy-it-pretty-soon;
    }

    /* > 10 days */
    .not-soon {
        background: $buy-it-not-soon;
    }
}
