.thing {
    .card {
        display: grid;
        grid-template-rows: 67% 33%;

        figcaption {
            padding-bottom: 1rem;
        }
    }

    .purchases {
        padding: 0 1rem;
    }
}