.thing {
    .card {
        display: grid;
        grid-template-rows: 67% 33%;

        img {
            margin: 1rem auto;
            max-height: 33vh;
            max-width: 100%;
        }

        figcaption {
            padding-bottom: 1rem;
        }
    }

    .purchases {
        padding: 0 1rem;
    }
}