/* colors */
$button-primary: #436b1c;
$button-secondary: #a46f3e;

$buy-it-soon: rgba(136, 192, 87, 0.67);
$buy-it-pretty-soon: rgba(238, 175, 75, 0.67);
$buy-it-not-soon: rgba(237, 63, 50, 0.67);

$background: #dae7ef;
