body {
    font: 16px/1.5 "Helvetica Neue", Sans-Serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100vw;
}

.full-viewport {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    overflow: auto;
    padding: 1rem;
}

@import 'css/AddThing.scss';
@import 'css/FirstRun.scss';
@import 'css/Loading.scss';
@import 'css/Purchases.scss';
