body {
    font: 16px/1.5 "Helvetica Neue", Sans-Serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100vw;
}

.full-viewport {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    section {
        background: #f0f0f0;
        bottom: 42px;
        left: 0;
        overflow: auto;
        padding: 1rem;
        position: absolute;
        right: 0;
        top: 61px;
    }
}

@import 'css/AddThing.scss';
@import 'css/FirstRun.scss';
@import 'css/Footer.scss';
@import 'css/Header.scss';
@import 'css/Loading.scss';
@import 'css/Purchases.scss';
